[submodule "libs/RPi_Hat_Template"]
	path = libs/RPi_Hat_Template
	url = git@github.com:CarlFK/RPi_Hat_Template.git

[submodule "libs/ki-lime-pi-pico"]
    path = libs/ki-lime-pi-pico
    url = https://github.com/recursivenomad/ki-lime-pi-pico

